<!DOCTYPE html>
<html>
<head>
	<title>Your Cart</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script" rel="stylesheet">
      
	<style>
  .hero-text h1
  {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 30px;
  }

.card-body-img-fluid
{
	object-fit: cover;
}

.picbig{
	position: absolute;
	width:0px;
	-webkit-transition:width 0.3s linear 0s;
	transition:width 0.3s linear 0s;
	z-index:10;
}
.img-fluid:hover + .picbig{
	width:450px;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" style="font-family:'Times New Roman';color:white;">Store</a>
      </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
      <li class="dropdown" style="font-family:'Times New Roman';color:white;"><a class="btn dropdown-toggle" data-toggle="dropdown">Profile<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li style="font-family:'Times New Roman';color:white;"><a href="#">Action1</a></li>
        <li style="font-family:'Times New Roman';color:white;"><a href="#">Action2</a></li>
        <li><a href="#"></a></li>
      </ul>
      {% if request.session.customer_id != None%}
      <li class="nav-item">
        <a class="nav-link" href="/cart" style="font-family:'Times New Roman';color:white;">Cart  <span class="badge badge-info">{{request.session.cart.keys|length}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders" style="font-family:'Times New Roman';color:white;">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" style="font-family:'Times New Roman';color:white;">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/cart" style="font-family:'Times New Roman';color:white;">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup" style="font-family:'Times New Roman';color:white;">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" style="font-family:'Times New Roman';color:white;">Login</a>
    </li>
    {% endif %}
  </div>
</nav>
{% load cart %}
{% load custom_filter %}
<div class="container">
    <div class="border rounded p-4 m-4">
         <p class="display-4 pl-4 ml-4">Your Orders</p>
         <hr>
         <table class="table">
             <thead>
                 <tr>
                     <th>Sno.</th>
                     <th>Image</th>
                     <th>Product</th>
                     <th>Date</th>
                     <th>Price</th>
                     <th>Quantity</th>
                     <th>Total</th>
                     <th>Status</th>
                 </tr>
             </thead>
             <tbody>
                 {% for order in orders %}
                 <tr>
                     <td>{{forloop.counter}}</td>
                     <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                     <td>{{order.product.name}}</td>
                     <td>{{order.date}}</td>
                     <td>{{order.price|currency}}</td>
                     <td>{{order.quantity}}</td>
                     <td>{{order.quantity|multiply:order.price|currency}}</td>
                     {% if order.status %}
                     <td><small class="badge badge-success">Completed</small></td>
                     {%else%}
                     <td><small class="badge badge-warning">Pending</small></td>
                     {% endif %}
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
    </div>
 </div>
</body>
</html>